@import url('https://fonts.googleapis.com/css?family=Karla');
body {
    background-color: #80C2F0; /*#3D2856;*/
    font-family: Karla;
    color: #303030;
}
h2{
  color:#134EC2;
}
h3 {
  color:#1453FF;
}
/* The side navigation menu */
.sidenav {
   height: 100%; /* 100% Full-height */
   width: 15%; /* 0 width - change this with JavaScript */
   position: fixed; /* Stay in place */
   z-index: 1; /* Stay on top */
   top: 0; /* Stay at the top */
   left: 0;
   background-color: #000D1F; /*#242424;*/
   overflow-x: hidden; /* Disable horizontal scroll */
   border-right: 1px solid #333333;
   /* padding-top: 60px; /* Place content 60px from the top */

   box-shadow: 2px 0px 10px 0px black;
   /* box-shadow: [horizontal offset] [vertical offset] [blur radius] [optional spread radius] [color]; */
}
.card {
  position: relative;
  text-align: justify;
  margin-left: 10px;
  margin-top: 15px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 1px 10px 10px 10px;
  background-color: #EEFFFF;
  box-shadow: 2px 2px 5px 00px black;
  display: block;
  height:  -moz-max-content;    /* Firefox/Gecko */
  height: -webkit-max-content; /* Chrome */
}
.subcard {
  position: relative;
  text-align: justify;
  margin-left: 10px;
  margin-top: 15px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 1px 10px 10px 10px;
  background-color: #EEFFFF;
  box-shadow: 2px 2px 5px 00px black;
  display: block;
  height: 100%;
  width: 46%;
}
.imgcard {
  position: relative;
  text-align: justify;
  padding: 1px 10px 10px 10px;
  margin-left: 10px;
  margin-top: 15px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #EEFFFF;
  box-shadow: 2px 2px 5px 00px black;
  display: block;
  height: 100%;
  width: -moz-min-content;    /* Firefox/Gecko */
  width: -webkit-min-content; /* Chrome */
}
.art {
  vertical-align: middle;
  margin: 10px 10px 10px 6px;
  object-fit: cover;
}
.sub{
  font-size: 15px;
  text-align: center;
  padding-bottom: 10px;
}
/* The navigation menu links */
.sidenav a {
  position:relative;
  top: 10px;
  vertical-align: middle;
  padding: 6px 0px 6px 0px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
  text-align: center;
  height: auto;
  width: 100%;
  /* background-color: #242424; */
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
   /* text-decoration: underline; */
   background-color: #001F2E;
}

.top {
  height: 30%;
  top: 0;
  /* border: 1px solid #ddd; */
  /* padding: 0px 0px; */
  background-image: url('../images/backProfile.jpg');
  background-clip: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* Vinheta */
  box-shadow: inset 0 0 100px #000;
  /* box-shadow: 10px 0 5px 0 black; */
}
.middle {
  height: auto;
  text-align: center;
  color: white;
  border-top: 2px solid #001F2E;
  border-bottom: 2px solid #001F2E;
  /* box-shadow: inset 0 0 3px #000; */
}
.image-cropper {
    top: 10%;
    left: 25%;
    max-width: 100px;
    height: auto;
    position: relative;
    overflow: hidden;

}
.profile {
    display: block;
    top: 10%;
    left: 25%;
    margin: 0 auto;
    height: auto;
    width: 100%;
    border-radius: 50%;
    border: 1px solid #363636;
}
.image {
    margin: 0 auto;
    height: 150px;
    width: 150px;
    border: 1px solid #363636;
    display: inline;
}
.name {
  padding-top: 15%;
  color: white;
  margin: 0px;
  font-size: 20px;
  text-shadow: 0px 2px 2px black;

  text-align: center;
}

.link {
    color: #303030;
    text-decoration: underline;
    cursor: pointer;
}

.left {
  float:left;
}
.right {
  float:right;
}

/* .art {

} */

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
   padding: 0 0 0 15%;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
   .sidenav {padding-top: 15px;}
   .sidenav a {font-size: 18px;}
}
